.form {
  box-sizing: border-box;
  padding: 34px 36px 37px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  max-height: 430px;
  
}

@media screen and (max-width: 767px) {
  .form {
    padding: 25px 22px 25px 22px;
    
  }
}