.profile__description-button {
  display: flex;
  padding-left: 244px;
}

@media screen and (max-width: 602px) {
  .profile__description-button {
    max-width: 282px;
    max-height: 50px;
    padding-left: 19px;
    padding-top: 36px;
    
  }
}
.profile__description-button:hover {
  cursor: pointer;
  opacity: 0.6;
}