  .main{
    margin: 0 auto;
    display: grid;
    width: calc(100% - 2 * 200px);
    flex: 1;
  }
  
  @media screen and (max-width: 1279px) {
    .main {
      width: calc(100% - 2 * 75px);
    }
  }
  
  @media screen and (max-width: 819px) {
    .main {
      width: calc(100% - 2 * 19px);
    }
  }
  