  .header__logo {
    width: 143px;
    background-image: url(../../../images/Logo\ name\ mesto.png);
  }

  @media screen and (max-width: 320px) {
    .header__logo {
      width: 103px;
      padding-left: 27px;
      padding-top: 28px;
    }
  }