.popup__close-button {
  position: absolute;
  border: 0;
  top: -41px;
  right: -41px;
  width: 41px;
  height: 41px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear 0s;
  background: url("../../../images/close__popup-icon.svg") no-repeat center;
}

@media screen and (max-width: 512px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    font-size: 18px;
    top: -35px;
    right: -1px;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}