.profile__about-author {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  width: 218px;
  color: #ffffff;
  margin: 3px 0 0 1px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 602px) {
  .profile__about-author {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-left: 19px;
    margin: 0;
  }
}